/* GENERAL STYLES */
body {
    background-color: rgb(27, 27, 27);
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 75px;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Bitter', serif; */
}

hr {
    border-top: 1px solid rgba(255,255,255,.75);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

#underline {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    width: 35%;
    margin-right: 100%;
    margin-top: 0rem;
}

#contentDivider {
    border-top: 1px solid rgba(255,255,255,.5);
    width: 75%;
    margin-bottom: 3rem;
}

#modelContainer {
    width: 80%!important;
    align-content: center;
}

#imgMain {
    display: flex;
    object-fit: scale-down;
    width: 100%;
    align-content: center;
    margin-top: 35px;
}

p {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}


/* NAVBAR */
/* #navbarHeader {
    
} */

#nav-links {
    padding-bottom: 0px;
}

.dropdown-menu {
    background-color: rgb(78, 78, 78);
}

.container {
    margin-top: 5px;
}

#pills, a:link{
    color: white;
    text-decoration: none;
}

#nav-box {
    color: white;
}

#myNavbar {
    /* margin-top: 5px; */
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 3;
    /* -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
    background-color: #1663c7;
    widows: 100vw;

}

#epic-title {
    color: white;
    margin-top: 5px;
    padding-left: 0px;
}


/* NAVBAR GOOGLE ICONS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-bottom: -8px;
    vertical-align: -25%;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* INDEX PAGE CAROUSEL NAV */
#carouselContainer {
    width: 1250px;
    margin-top: 35px;
}

#carousel-indicators {
    padding-bottom: 0px;
}

/* @TODO figure out how to add shadow to indicators */
#carouselIndicator {
    color: #1663c7!important;
}

#carousel-image {
    object-fit: scale-down!important;
    /* min-width: 100%;
    min-height: 100%; */
    max-width: 100%;
    max-height: 100%;
    align-content: center;
}

#carouselHeader {
    margin-bottom: 15px;
    font-size: 52px;
    text-shadow: 1px 1px 2px #1663c7, 0 0 1em #1663c7, 0 0 0.2em #1663c7;
}

#carouselSubhead {
    margin-bottom: 107px;
    text-shadow: 1px 1px 2px #1663c7, 0 0 1em #1663c7, 0 0 0.2em #1663c7;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231663c7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231663c7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* SECTIONS */
#imgHeader {
    margin-bottom: 15px;
    font-size: 52px;
    text-shadow: 1px 1px 2px #1663c7, 0 0 1em #1663c7, 0 0 0.2em #1663c7;
}

#imgSubhead {
    margin-bottom: 147px;
    text-shadow: 1px 1px 2px #1663c7, 0 0 1em #1663c7, 0 0 0.2em #1663c7;
}

section {
    align-content: center;
    padding: 50px;
}

h1 {
    margin-top: 10px;
}

#subhead {
    margin-top: 45px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.figure {
    display: block;
}

#imgContent {
    display: block;
    object-fit: contain;
    width: 80%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    /* cursor: pointer; */
    transition: 0.3s;
} 

#exampleModalLongTitle {
    color: #1663c7;
}

figcaption {
    width: 90%;
}

#thumbCaption {
    margin-left: 0px!important;
    text-align: left;
}

#generatorCaption {
    margin-left: 0px!important;
    text-align: right;
}

#timelapseGen {
    align-content: center;
}

#refs {
    margin-top: 1rem;
}


/* FOOTER */

#footer-box {
    background-color: #1663c7;
    /* -webkit-box-shadow: 0px -3px 15px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
    color: whitesmoke;;
    font-size: .9em;
}