body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 96.2%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  /* background: #fff;
  background: rgba(255, 255, 255, 0.8); */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 41px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h3 {
  text-align: center;
}

h4 {
  margin-bottom: 0;
}

h6 {
  text-align: left;
  margin: 0;
  font-weight: normal;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}