<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    {% include "head.html" %}
    <title>EPIC Team</title>
</head>

<!-- BODY -->
<body>
    {% include "navbar.html" %}

    <div class="container-fluid">


    <section id="troy">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/250x250.png">
            <div class="media-body">
                <h4>Troy Bailey</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/troy-bailey'"></i> troy-bailey &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/troyabailey/'"></i> Troy Bailey &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> troy@troybailey.com
                <hr>
                <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
            </div>
        </div>
    </section>

    <hr>

    <section id="seth">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/250x250.png">
            <div class="media-body">
                <h4>Seth Bitney</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/sbbitney'"></i> sbbitney &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/sethbitney/'"></i> Seth Bitney &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> sethrbitney@gmail.com
                <hr>
                <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
            </div>
        </div>
    </section>

    <hr>


    <section id="trent">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/trent250.jpg">
            <div class="media-body">
                <h4>Trent Gebben</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/trentgebben'"></i> trentgebben &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/trent-gebben-3aa54033/'"></i> Trent Gebben &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> gebbentrent@gmail.com
                <hr>
                <p>Trent is a financial analyst with 2 years of experience in the telecommunication industry. His passion for problem solving and learning new things helps him achieve success with each new challenge. With a background in accounting and finance, he is outstanding with analyzing data. He specializes in data acquisition, python, excel and tableau. Attention to detail and a desire to improve inefficiencies combine to make Trent a dynamic and proficient analyst.</p>
            </div>
        </div>
    </section>

    <hr>


    <section id="kat">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/kat250.jpg">
            <div class="media-body">
                <h4>Katarina Pin</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/aznkat'"></i> aznkat &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/katpin/'"></i> Katarina Pin &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> katpin13@gmail.com
                <hr>
                <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
            </div>
        </div>
    </section>

    <hr>

    
    <section id="valerie">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/val250.jpg">
            <div class="media-body">
                <h4>Valerie Grace Wilmot</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/vlarie'"></i> vlarie &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/vlarie/'"></i> Valerie Grace Wilmot &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> valeriegracewilmot@gmail.com
                <hr>
                <p>Valerie is a meticulous data analyst with over a decade of experience in the healthcare industry.  Her innate love for understanding how stuff works leads her to excel at understanding complex systems.  With a background in psychology and training in behavior intervention, she is an excellent communicator and team leader capable of communicating effectively across diverse groups.  She specializes in data acquisition and cleaning, building web applications, dashboard design, and effective data visualization using Python, Javascript, and a wide variety of libraries.  Laser-like focus and a dedication to integrity of results combine to make Valerie a detail-oriented programmer with an undying desire to improve.</p>
            </div>
        </div>
    </section>

    <hr>

    
    <section id="yuta">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/250x250.png">
            <div class="media-body">
                <h4>Yuta Yamaguchi</h4>
                <!-- @TODO fix contact links -->
                <i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/yuta-yama'"></i> yuta-yama &nbsp;&nbsp;
                <i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/yutayamaguchi/'"></i> Yuta Yamaguchi &nbsp;&nbsp;
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> yuta.yamaguchi@gmail.com
                <hr>
                <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
            </div>
        </div>
    </section>

    <hr>
    </div>

    <!-- BUTTON Functionality -->
    <script>
        // Get the container element
        var btnContainer = document.getElementById("filter-btns");

        // Get all buttons with class="btn" inside the container
        var btns = btnContainer.getElementsByClassName("btn");

        // Loop through the buttons and add the active class to the current/clicked button
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
            var current = document.getElementById("filter-btns").getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
        }
    </script>

</body>

<!-- FOOTER AREA -->
{% include "footer.html" %}

<!-- SCRIPTS AREA -->
{% include "scripts.html" %}   

</html>