<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    {% include "head.html" %}
    <title>EPIC Team</title>
</head>

<!-- BODY -->
<body>
    {% include "navbar.html" %}

    <div class="container-fluid">


    <section id="troy">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/troy250.jpg">
            <div class="media-body">
                <h4>Troy Bailey</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/troy-bailey"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/troy-bailey'"></i> troy-bailey &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/troyabailey/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/troyabailey/'"></i> Troy Bailey &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> troy@troybailey.com
                <hr>
                <p>Troy has more than 20 years of success in building marketing organizations, developing strategy, and driving business results. He's a creative leader with a strong record of applying technical knowledge and business acumen in order to define products, tap new markets, and achieve financial goals. Troy is passionate in his belief that advanced data analysis has become a necessary element of a successful marketing toolset.</p>
            </div>
        </div>
    </section>

    <hr>

    <section id="seth">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/seth250.jpg">
            <div class="media-body">
                <h4>Seth Bitney</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/sbbitney"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/sbbitney'"></i> sbbitney &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/sethbitney/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/sethbitney/'"></i> Seth Bitney &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> sethrbitney@gmail.com
                <hr>
                <!-- @TODO update description -->
                <p>Seth is skilled at distilling ideas down to disgestible chunks any audience can savor. He is a charasmatic presenter who finds dynamic ways to engage with his audience. Having 10 years of recruiting experience, Seth understands a wide variety of roles and the skills needed to be truly great in each one.</p>
            </div>
        </div>
    </section>

    <hr>


    <section id="trent">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/trent250.jpg">
            <div class="media-body">
                <h4>Trent Gebben</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/trentgebben"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/trentgebben'"></i> trentgebben &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/trent-gebben-3aa54033/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/trent-gebben-3aa54033/'"></i> Trent Gebben &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> gebbentrent@gmail.com
                <hr>
                <p>Trent is a financial analyst with 2 years of experience consulting in the telecommunication industry. With a background in accounting and finance, he is outstanding with analyzing data. He has a passion for the statistics and analyzing the story that the statistics tell.</p>
            </div>
        </div>
    </section>

    <hr>


    <section id="kat">
        <div class="media">
            <!-- @TODO update Kat's image -->
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/kat250.jpg">
            <div class="media-body">
                <h4>Katarina Pin</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/aznkat"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/aznkat'"></i> aznkat &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/katpin/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/katpin/'"></i> Katarina Pin &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> katpin13@gmail.com
                <hr>
                <p>Katarina is a Quality Engineer in the manufacturing industry with a passion for storytelling with data and data design. She has spent 5 years working in the manufacturing industry and facilitating data-driven action and results. Along with studying around the world, she has gained a broader perspective in order to better convey her message to her audience. She's constantly seeking the nuances of data design, and innovate to find her own special brand. In her workplace, she has given inter-departmental seminars to share knowledge, and provide insight on non-optimal data representations such as pie charts. P.S. Death to pie charts!</p>
            </div>
        </div>
    </section>

    <hr>

    
    <section id="valerie">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/val250.jpg">
            <div class="media-body">
                <h4>Valerie Grace Wilmot</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/vlarie"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/vlarie'"></i> vlarie &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/vlarie/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/vlarie/'"></i> Valerie Grace Wilmot &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> valeriegracewilmot@gmail.com
                <hr>
                <p>Valerie is a meticulous data analyst with over a decade of experience in the healthcare industry.  Her innate love for understanding how stuff works leads her to excel at understanding complex systems.  With a background in psychology and training in behavior intervention, she is an excellent communicator and team leader capable of communicating effectively across diverse groups.  She specializes in data acquisition and cleaning, building web applications, dashboard design, and effective data visualization using Python, Javascript, and a wide variety of libraries.  Laser-like focus and a dedication to integrity of results combine to make Valerie a detail-oriented programmer with an undying desire to improve.</p>
            </div>
        </div>
    </section>

    <hr>

    
    <section id="yuta">
        <div class="media">
            <img class="align-self-start mr-3" id="teamPhoto" src="../static/images/team/yuta250.jpg">
            <div class="media-body">
                <h4>Yuta Yamaguchi</h4>
                <!-- @TODO fix contact links -->
                <a href="https://github.com/yuta-yama"><i class="fab fa-github" aria-hidden="true" onclick="location.href='https://github.com/yuta-yama'"></i> yuta-yama &nbsp;&nbsp;</a>
                <a href="https://www.linkedin.com/in/yutayamaguchi/"><i class="fab fa-linkedin" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/yutayamaguchi/'"></i> Yuta Yamaguchi &nbsp;&nbsp;</a>
                <i class="far fa-envelope" aria-hidden="true" onclick="location.href='/keypoints'"></i> yuta.yamaguchi@gmail.com
                <hr>
                <p>Yuta has over a decade experience in the film, video, and advertising industries. He has a passion for collecting and organizing data, finding patterns, and telling stories from insights in various mediums including data. He is a collaborative, inquisitive, and detail-oriented professional with focus in the areas of creative content creation and marketing, web development (HTML/CSS), data analysis (Python/SQL), and data visualization (Tableau). He is currently seeking opportunities to further expand his data analytics knowledge.</p>
            </div>
        </div>
    </section>

    </div>

</body>

<!-- FOOTER AREA -->
{% include "footer.html" %}

<!-- SCRIPTS AREA -->
{% include "scripts.html" %}   

</html>