<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    {% include "head.html" %}
    <title>EPIC Face Generator</title>
</head>

<!-- BODY -->
<body>
    {% include "navbar.html" %}

    <div class="container-fluid align-items-center" id="modelContainer">
        <img id="imgMain" src="../static/images/generator_carousel.jpg" alt="Face Generator main image">
        <div class="carousel-caption d-none d-md-block">
            <h1 id="carouselHeader">Random Face Generator</h1>
            <h4 id="carouselSubhead">DCGAN trained to randomly generate a face</h4>
        </div>
<!-- @TODO fix spacing on photos and add caption credit where applicable -->
<!-- @TODO update with correct info -->
        <section id="about">
            <h1>ABOUT</h1>
            <hr id="underline">
            <h3 id ="subhead">Methods</h3>
            <p><a href="#references"><sup>[1]</sup></a>.</p>
            <h3 id ="subhead">Dataset</h3>
            <p></p>
            <figure class="figure">
                <a href="">
                    <img id="imgContent" src="../static/images/dataset.png" alt="Dataset"> 
                </a>
                <figcaption class="figure-caption text-right">
                    <p>photo from <a href="#references"><sup>[2]</sup></a></p>
                </figcaption>
            </figure>
            <h3 id ="subhead">Classification Groups</h3>
            <p></p>
            <figure class="figure">
            <img id="imgContent" class="mx-auto" src="../static/images/classifications.png" alt="Classifications">
            </figure>
        </section>

        <hr>

        <section id="process">
            <h1>PROCESS</h1>
            <hr id="underline">
            <h3 id ="subhead">CNN Implementation in Caffe</h3>
            <p></p>
            <!-- @TODO add link -->
            <figure class="figure">
                <a href="">
                    <img id="imgContent" src="../static/images/cnn-overview.png" alt="CNN Overview">
                </a>
                <figcaption class="figure-caption text-right">
                    <p>photo from Gil Levi and Tal Hassner<a href="#references"><sup>[1]</sup></a></p>
                </figcaption>
            </figure>
            <h3 id ="subhead">Network Architecture</h3>
            <p></p>
            <img id="imgContent" src="../static/images/network-architecture.png" alt="Network Architecture">
            <h3 id ="subhead">Performance</h3>
            <p></p>
            <!-- @TODO add link -->
            <figure class="figure">
                <a href="">
                    <img id="imgContent" src="../static/images/results.png" alt="Results (From Gil Levi and Tal Hassner’s paper)">
                </a>
                <figcaption class="figure-caption text-right">
                    <p>photo from Gil Levi and Tal Hassner<a href="#references"><sup>[1]</sup></a></p>
                </figcaption>
            </figure>
            <h3 id ="subhead">Pre-trained Model Application</h3>
            <p></p>
            <img id="imgContent" src="../static/images/process-overview.png" alt="Process Overview">
            <h3 id ="subhead">TensorFlow Reimplementation</h3>
            <p><a href="#references"><sup>[3]</sup></a>.</p>
            <img id="imgContent" src="../static/images/tensorflow.png" alt="TensorFlow">
        
            <iframe src="https://player.vimeo.com/video/310882940" width="640" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </section>

        <hr>
        
        <section id="results">
            <h1>RESULTS</h1>
            <hr id="underline">
            <p></p>
            <img id="imgContent" src="../static/images/prediction-results.png" alt="Prediction Results">
            <p></p>
        </section>

        <hr>
        
        <!-- @TODO update to interactive or static depending on time -->
        <section id="testing">
            <h1>TESTING</h1>
            <hr id="underline">
            <p>Insert summary of poll</p>
            <button>Click here to participate!</button>
        </section>
        
        <hr>
        
        <section id="learnings">
            <h1>LEARNINGS</h1>
            <hr id="underline">
            <!-- @TODO Creepy generated faces go here -->
            <p></p>
            <p></p>
            <p></p>
        </section>

        <hr>

        <section id="references">
            <h4>References</h4>
            <hr id="underline">
            <ol>
                <li id="refs">
                    Gil Levi and Tal Hassner. <a href="https://talhassner.github.io/home/publication/2015_CVPR"><i>Age and Gender Classification Using Convolutional Neural Networks</i></a>, IEEE Workshop on Analysis and Modeling of Faces and Gestures (AMFG), at the IEEE Conf. on Computer Vision and Pattern Recognition (CVPR), Boston, June 2015 <a href="https://github.com/GilLevi/AgeGenderDeepLearning">(Repo)</a><a href="https://talhassner.github.io/home/projects/cnn_agegender/CVPR2015_CNN_AgeGenderEstimation.pdf">(PDF)</a>
                </li>
                <li id="refs">
                    Eran Eidinger, Roee Enbar, and Tal Hassner, <a href="https://talhassner.github.io/home/publication/2014_IEEE_TIFS"><i>Age and Gender Estimation of Unfiltered Faces</i></a>, Transactions on Information Forensics and Security (IEEE-TIFS), special issue on Facial Biometrics in the Wild, Volume 9, Issue 12, pages 2170 - 2179, Dec. 2014 <a href="https://talhassner.github.io/home/projects/Adience/EidingerEnbarHassner_tifs.pdf">(PDF)</a>
                </li>
                <li id="refs">
                    Rude Carnie, <a href="https://github.com/dpressel/rude-carnie"><i>Age and Gender Deep Learning with TensorFlow</i></a>
                </li>
            </ol>
        </section>
    </div>
</body>

<!-- FOOTER AREA -->
{% include "footer.html" %}

<!-- SCRIPTS AREA -->
{% include "scripts.html" %}   

</html>