<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    {% include "head.html" %}
    <title>EPIC Face Generator</title>
</head>

<!-- BODY -->
<body>
    {% include "navbar.html" %}

    <div class="container-fluid">
    <img id="imgMain" src="../static/images/1250x600.png">


    <section id="about">
        <h1>About</h1>
        <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
    </section>

    <hr>

    <section id="process">
        <h1>Process</h1>
        <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
    </section>

    <hr>
    
    <section id="results">
        <h1>Results</h1>
        <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
    </section>

    <hr>
    
    <section id="testing">
        <h1>Testing</h1>
        <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
    </section>
    
    <hr>
    
    <section id="learnings">
        <h1>Learnings</h1>
        <p>Eiusmod irure esse duis magna irure id enim duis ullamco consequat duis. Fugiat mollit consequat eu commodo officia cillum ex aliquip sint laborum aliquip laboris pariatur anim. Do reprehenderit laboris exercitation labore mollit fugiat sint non. Aliquip irure labore officia nisi elit sit voluptate ut dolor sit. Velit labore eiusmod veniam dolor nisi veniam veniam et eu laborum sit enim non minim. Cupidatat mollit occaecat ullamco tempor ullamco eu veniam in ipsum officia dolore quis commodo. Reprehenderit nulla laboris tempor esse excepteur sunt ullamco voluptate elit cupidatat pariatur eiusmod.</p>
    </section>

    <hr>

    <section id="references">
        <h4>References</h4>
        <ul>
            <li></li>
        </ul>
    </section>
    </div>

    <!-- BUTTON Functionality -->
    <script>
        // Get the container element
        var btnContainer = document.getElementById("filter-btns");

        // Get all buttons with class="btn" inside the container
        var btns = btnContainer.getElementsByClassName("btn");

        // Loop through the buttons and add the active class to the current/clicked button
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
            var current = document.getElementById("filter-btns").getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
        }
    </script>

</body>

<!-- FOOTER AREA -->
{% include "footer.html" %}

<!-- SCRIPTS AREA -->
{% include "scripts.html" %}   

</html>