<!-- @TODO remove commented out elements -->

<!-- NAVBAR -->
<div id="nav-box" class=".bg-primary">
    <header class="navbar navbar-expand-lg navbar-light" id="myNavbar">
        <a class="navbar-brand mb-0" href="/" id="epic-title">
            <h3 id="navbarHeader">EPIC Faces</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- NAVIGATION LINKS -->
        <div class="btn-toolbar flex-grow-1 text-right">
            <ul class="navbar-nav ml-auto flex-nowrap" id="nav-links">
                <!-- FACIAL KEYPOINTS -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/keypoints'">
                    <i class="material-icons">my_location</i>  Keypoints </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-keypoints" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/keypoints#about">About</a>
                        <a class="dropdown-item" href="/keypoints#process">Process</a>
                        <a class="dropdown-item" href="/keypoints#results">Results</a>
                        <a class="dropdown-item" href="/keypoints#testing">Testing</a>
                        <a class="dropdown-item" href="/keypoints#learnings">Learnings</a>
                    </div>
                </div>
                <!-- AGE & GENDER CLASSIFIER -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/agegender'">
                    <i class="material-icons">people_outline</i>  Age & Gender </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-agegender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/agegender#about">About</a>
                        <a class="dropdown-item" href="/agegender#process">Process</a>
                        <a class="dropdown-item" href="/agegender#results">Results</a>
                        <a class="dropdown-item" href="/agegender#testing">Testing</a>
                        <a class="dropdown-item" href="/agegender#learnings">Learnings</a>
                    </div>
                </div>
                <!-- FACE GENERATOR -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/generator'">
                    <i class="material-icons">face</i> Generator </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-agegender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/generator#about">About</a>
                        <a class="dropdown-item" href="/generator#process">Process</a>
                        <a class="dropdown-item" href="/generator#results">Results</a>
                        <a class="dropdown-item" href="/generator#testing">Testing</a>
                        <a class="dropdown-item" href="/generator#learnings">Learnings</a>
                    </div>
                </div>
                <!-- ABOUT US -->
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary bt-lg ml-2" onclick="location.href='/aboutus'" id="btn-keypoints" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">recent_actors</i>  About Us </button>
                        <!-- Other icon options "bubble_chart, contacts, dashboard, developer_board, equalizer, fingerprint, folder_shared, info, info_outline"  -->
                        <!-- "more_horiz/vert, multiline_chart, poll, question_answer, star_border, trending_up, widgets" -->
                </li>
                <!-- Removed from above buttons -->
                <!-- onclick="location.href='/agegender'" -->
                 <!-- onclick="location.href='/generator'" -->
            </ul>
        </div>
    </header>
</div>