<!-- @TODO remove commented out elements -->

<!-- NAVBAR -->
<div id="nav-box" class=".bg-primary">
    <header class="navbar navbar-expand-lg navbar-light" id="myNavbar">
        <a class="navbar-brand mb-0" href="/" id="epic-title">
            <h3>EPIC Faces</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- NAVIGATION LINKS -->
        <div class="btn-toolbar flex-grow-1 text-right">
            <ul class="navbar-nav ml-auto flex-nowrap" id="nav-links">
                <!-- FACIAL KEYPOINTS -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/keypoints'">
                    <i class="material-icons">my_location</i>  Keypoints </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-keypoints" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/keypoints#about">About</a>
                        <a class="dropdown-item" href="/keypoints#process">Process</a>
                        <a class="dropdown-item" href="/keypoints#results">Results</a>
                        <a class="dropdown-item" href="/keypoints#test">Test</a>
                    </div>
                </div>
                <!-- AGE & GENDER CLASSIFIER -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/agegender'">
                    <i class="material-icons">people_outline</i>  Age & Gender </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-agegender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/agegender#about">About</a>
                        <a class="dropdown-item" href="/agegender#process">Process</a>
                        <a class="dropdown-item" href="/agegender#results">Results</a>
                        <a class="dropdown-item" href="/agegender#test">Test</a>
                    </div>
                </div>
                <!-- FACE GENERATOR -->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='/generator'">
                    <i class="material-icons">face</i> Generator </button>
                    <button type="button" class="btn btn-secondary bt-lg dropdown-toggle dropdown-toggle-split" id="btn-agegender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="plotdropdown">
                        <a class="dropdown-item" href="/generator#about">About</a>
                        <a class="dropdown-item" href="/generator#process">Process</a>
                        <a class="dropdown-item" href="/generator#results">Results</a>
                        <a class="dropdown-item" href="/generator#test">Test</a>
                    </div>
                </div>
                <!-- ABOUT US -->
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary bt-lg ml-2" onclick="location.href='/aboutus'" id="btn-keypoints" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">recent_actors</i>  About Us </button>
                        <!-- Other icon options "bubble_chart, contacts, dashboard, developer_board, equalizer, fingerprint, folder_shared, info, info_outline"  -->
                        <!-- "more_horiz/vert, multiline_chart, poll, question_answer, star_border, trending_up, widgets" -->
                </li>
                <!-- Removed from above buttons -->
                <!-- onclick="location.href='/agegender'" -->
                 <!-- onclick="location.href='/generator'" -->
            </ul>
        </div>
    </header>
</div>


    <!-- <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="plotdropdown" data-toggle="dropdown" aria-haspopup="true", aria-expanded="false">Plots <b class="caret"></b></a>
            <div class="dropdown-menu" aria-labelledby="plotdropdown">
                <a class="dropdown-item" href="/temp">Temperature</a>
                <a class="dropdown-item" href="/humid">Humidity</a>
                <a class="dropdown-item" href="/cloud">Cloud Coverage</a>
                <a class="dropdown-item" href="/wind">Wind Speed</a>
            </div>
        </li>
        <div class="dropdown-divider"></div>
    Use the following line on appropriate pages to indicate it is the current page selected
    <li class="active"><a href="#">Comparisons <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/comps">Comparisons</a></li>
        <li class="nav-item"><a class="nav-link" href="/data">Data</a></li>
    </ul> -->



        <!-- <div class="container">
            <div class="navbar-header">
                <button type="button" class="dropdown-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://carpedm20.github.io/" target="_blank">
                    <span class="light">carpedm20</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#generate">Generate</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#details">Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#results">Results</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutme">Me?</a>
                    </li>
                </ul>
            </div>
        </div> -->

